{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "15.0"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-alert": 1,
    "no-trailing-spaces": [
      1,
      {
        "skipBlankLines": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "quotes": [
      1,
      "single"
    ]
  }
}
